n8n/workflow_ses.json
{
  "name": "SES — Генератор КП",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ses-kp",
        "responseMode": "immediatelyReturn",
        "options": {}
      },
      "id": "n01",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "ses-kp-webhook-id"
    },
    {
      "id": "n03",
      "name": "Settings",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        460,
        500
      ],
      "parameters": {
        "operation": "read",
        "documentId": {
          "__rl": true,
          "value": "1IgaI0_eE0xY7ljfNh138CA-aYIiFzGJpmu9s2hLV04g",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Налаштування",
          "mode": "name"
        },
        "options": {
          "firstRowIsColumnNames": true
        }
      },
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CRED1",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const _wh = $('Webhook').first().json;\nconst p = _wh.body ?? _wh;\n\nconst settingsMap = {};\ntry {\n  $('Settings').all().forEach(item => {\n    const key = item.json.key || item.json.col_1 || '';\n    const val = item.json.value || item.json.col_2 || '';\n    if (key) settingsMap[key.trim()] = String(val).trim();\n  });\n} catch (e) {}\n\nconst TEMPLATE_NO_CREDIT_ID          = settingsMap['ses_template_no_credit']          || '1Ytn9wssFM-Eg_Fy_CXoZ2CKfd-4uamP39tkhrhf5JMs';\nconst TEMPLATE_NO_CREDIT_NO_IMG_ID   = settingsMap['ses_template_no_credit_no_img']   || '1LGbc5siAxP6zg4B87KpInSzHGDK0hYy8bbNDvrPNcp0';\nconst TEMPLATE_WITH_CREDIT_ID        = settingsMap['ses_template_with_credit']        || '15cW_pHFAmXfHgZ6w2Tv_NZYRDTQnE0eV4l6nnbdsfc4';\nconst TEMPLATE_WITH_CREDIT_NO_IMG_ID = settingsMap['ses_template_with_credit_no_img'] || '1bbW_s6qWlfrjKlmuhheiFCDRusPvbRZi7wz3E0B1DkA';\nconst DRIVE_PARENT_FOLDER_ID         = settingsMap['ses_drive_folder']                || '1QSNGUZ9e7CAyeZNMJ3EpEUuyXTaSfTky';\n\nconst creditEnabled = p.credit === 'yes';\nconst hasImage      = p.has_image !== 'no';\nlet templateDocId;\nif (creditEnabled) {\n  templateDocId = hasImage ? TEMPLATE_WITH_CREDIT_ID : TEMPLATE_WITH_CREDIT_NO_IMG_ID;\n} else {\n  templateDocId = hasImage ? TEMPLATE_NO_CREDIT_ID : TEMPLATE_NO_CREDIT_NO_IMG_ID;\n}\n\n// template_vars вже розраховані браузером (calculate-engine.js)\nconst templateVars = p.template_vars || {};\n\nreturn [{\n  json: {\n    templateDocId,\n    driveFolderId:  DRIVE_PARENT_FOLDER_ID,\n    fileName:       p.file_name     || ('KP_' + (p.project_name || 'Project') + '.pdf'),\n    docCopyName:    p.doc_copy_name || ('Proposal_' + Date.now()),\n    templateVars,\n    chatId:         p.chat_id,\n    manager:        p.manager,\n    dcKW:           p.dc_kw,\n    projectName:    p.project_name,\n    region:         p.region,\n    managerPhone:   p.manager_phone,\n    managerEmail:   p.manager_email,\n  }\n}];"
      },
      "id": "n04",
      "name": "Code: Calculate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "/* ================================================================\r\n   n8n Code Node — Генерація графіків КП СЕС\r\n\r\n   Запускається ПІСЛЯ вузла \"Code: Calculate\"\r\n\r\n   ВХІД:\r\n     $('Code: Calculate').first().json  — результат розрахунку\r\n\r\n   ВИХІД:\r\n     year_chart_url  — URL QuickChart.io для річного графіка\r\n     day_chart_url   — URL QuickChart.io для денного графіка\r\n     yearly_gen_kwh  — річна генерація (кВт·год)\r\n     yearly_gen_mwh  — річна генерація (МВт·год, округлено)\r\n\r\n   QuickChart.io: https://quickchart.io/chart?c=<JSON>\r\n   Безкоштовний, повертає PNG 800×400.\r\n================================================================ */\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 1. МІСЯЧНІ КОЕФІЦІЄНТИ ГЕНЕРАЦІЇ (кВт·год на 1 кВт DC за місяць)\r\n//    Джерело: PVGis / SODA MERRA-2 дані для України\r\n//    Порядок: Січ, Лют, Бер, Квіт, Трав, Черв, Лип, Серп, Вер, Жовт, Лис, Груд\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst MONTHLY_COEF = {\r\n  // Північ\r\n  'Чернігівська область':     [22, 33, 65, 98, 118, 120, 122, 113, 85, 50, 24, 17],\r\n  'Сумська область':          [23, 34, 66, 99, 119, 121, 123, 114, 86, 51, 25, 18],\r\n  'Житомирська область':      [24, 35, 67, 100, 120, 122, 124, 115, 87, 52, 25, 18],\r\n\r\n  // Захід\r\n  'Волинська область':        [24, 36, 67, 100, 119, 120, 122, 112, 85, 51, 25, 17],\r\n  'Рівненська область':       [24, 36, 68, 101, 120, 121, 123, 113, 86, 52, 25, 18],\r\n  'Львівська область':        [26, 38, 72, 106, 123, 124, 127, 118, 90, 56, 27, 19],\r\n  'Закарпатська область':     [30, 44, 80, 113, 130, 131, 135, 126, 98, 62, 31, 22],\r\n  'Івано-Франківська область':[27, 40, 74, 107, 124, 125, 128, 119, 91, 57, 28, 20],\r\n  'Тернопільська область':    [26, 38, 71, 105, 122, 123, 126, 117, 89, 55, 26, 18],\r\n  'Хмельницька область':      [26, 38, 71, 105, 122, 123, 126, 117, 89, 55, 26, 18],\r\n  'Вінницька область':        [27, 40, 74, 108, 126, 127, 130, 120, 92, 57, 27, 19],\r\n  'Чернівецька область':      [28, 42, 78, 112, 129, 130, 134, 125, 96, 60, 29, 21],\r\n\r\n  // Центр\r\n  'м. Київ':                  [25, 37, 71, 105, 124, 126, 128, 118, 89, 53, 25, 18],\r\n  'Київська область':         [25, 37, 70, 104, 123, 125, 127, 117, 88, 52, 25, 17],\r\n  'Черкаська область':        [28, 42, 78, 112, 131, 133, 135, 125, 95, 58, 27, 19],\r\n  'Полтавська область':       [29, 43, 79, 114, 133, 135, 137, 127, 97, 60, 28, 20],\r\n  'Кіровоградська область':   [31, 47, 85, 119, 138, 140, 143, 133, 103, 64, 30, 22],\r\n\r\n  // Схід\r\n  'Харківська область':       [28, 43, 80, 114, 133, 135, 138, 128, 97, 59, 27, 19],\r\n  'Дніпропетровська область': [32, 49, 87, 122, 141, 143, 146, 136, 105, 66, 31, 22],\r\n  'Донецька область':         [30, 46, 84, 118, 137, 139, 142, 132, 101, 63, 30, 21],\r\n  'Запорізька область':       [35, 53, 95, 131, 150, 152, 156, 145, 113, 72, 34, 25],\r\n  'Луганська область':        [29, 44, 81, 115, 134, 136, 139, 129, 98, 60, 28, 20],\r\n\r\n  // Південь\r\n  'Одеська область':          [38, 57, 100, 137, 156, 158, 163, 151, 118, 76, 37, 27],\r\n  'Миколаївська область':     [36, 55, 98, 134, 153, 155, 160, 148, 115, 73, 35, 26],\r\n  'Херсонська область':       [37, 56, 100, 136, 155, 157, 162, 150, 117, 75, 36, 26],\r\n\r\n  // Default (середня Україна якщо регіон не знайдено)\r\n  'default':                  [28, 42, 77, 111, 130, 132, 134, 124, 95, 59, 28, 19],\r\n};\r\n\r\nconst MONTHS_UK = ['Січ', 'Лют', 'Бер', 'Квіт', 'Трав', 'Черв', 'Лип', 'Серп', 'Вер', 'Жовт', 'Лис', 'Груд'];\r\n\r\n// Денні коефіцієнти (частки від добового максимуму) — типовий літній день\r\n// Кожна точка = година (0..23), відносна частка генерації 0..1\r\nconst DAILY_HOURLY_PROFILE = [\r\n  0, 0, 0, 0, 0, 0.03,    // 0-5 год\r\n  0.08, 0.18, 0.38, 0.58, 0.75, 0.88,  // 6-11 год\r\n  0.97, 1.00, 0.97, 0.88, 0.75, 0.58,  // 12-17 год\r\n  0.35, 0.15, 0.05, 0.01, 0, 0,         // 18-23 год\r\n];\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 2. ВХІДНІ ДАНІ\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst calc = $('Code: Calculate').first().json;\r\n\r\nconst dcKW      = parseFloat(calc.dc_kw)  || 0;\r\nconst region    = calc.region || 'default';\r\nconst tariffNow = parseFloat(calc.tariff_now) || 0;\r\nconst creditEnabled = calc.credit_enabled || false;\r\nconst creditMonths  = parseInt(calc.credit_months) || 60;\r\nconst monthlyPaymentUAH = parseFloat(calc.monthly_payment_uah) || 0;\r\nconst monthlySavingsUAH = parseFloat(calc.monthly_savings_uah) || 0;\r\n\r\nconst coefs = MONTHLY_COEF[region] || MONTHLY_COEF['default'];\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 3. МІСЯЧНА ГЕНЕРАЦІЯ (кВт·год)\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst monthlyKWh = coefs.map(c => Math.round(c * dcKW));\r\nconst yearlyKWh  = monthlyKWh.reduce((s, v) => s + v, 0);\r\nconst yearlyMWh  = Math.round(yearlyKWh / 100) / 10; // 1 знак після коми\r\n\r\n// Пік — найкращий місяць\r\nconst peakIdx  = monthlyKWh.indexOf(Math.max(...monthlyKWh));\r\nconst peakKWh  = monthlyKWh[peakIdx];\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 4. ДЕННА ГЕНЕРАЦІЯ (для пікового місяця)\r\n//    Беремо денну генерацію пікового місяця та розподіляємо по годинах\r\n// ────────────────────────────────────────────────────────────────\r\n\r\n// Середньодобова генерація для пікового місяця (кВт·год/день)\r\nconst daysInPeakMonth = [31, 28, 31, 30, 31, 30, 31, 31, 30, 31, 30, 31][peakIdx];\r\nconst dailyAvgKWh     = peakKWh / daysInPeakMonth;\r\n\r\n// Профіль дня (кВт·год за годину)\r\nconst dailyHourlyKWh  = DAILY_HOURLY_PROFILE.map(factor => +(factor * dailyAvgKWh).toFixed(1));\r\n\r\n// Години для підписів (тільки денні)\r\nconst hourLabels = Array.from({ length: 24 }, (_, i) => `${i}:00`);\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 5. QUICKCHART.IO — РІЧНИЙ ГРАФІК\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst yearChartConfig = {\r\n  type: 'bar',\r\n  data: {\r\n    labels: MONTHS_UK,\r\n    datasets: [{\r\n      label: 'Генерація, кВт·год',\r\n      data: monthlyKWh,\r\n      backgroundColor: monthlyKWh.map((_, i) =>\r\n        i === peakIdx ? '#FFC400' : '#4A90D9'\r\n      ),\r\n      borderRadius: 6,\r\n    }],\r\n  },\r\n  options: {\r\n    plugins: {\r\n      legend:  { display: false },\r\n      title:   {\r\n        display: true,\r\n        text:    `Річна генерація СЕС ${dcKW.toFixed(0)} кВт · ${region}`,\r\n        font:    { size: 14 },\r\n      },\r\n      datalabels: {\r\n        anchor: 'end',\r\n        align:  'top',\r\n        font:   { size: 10 },\r\n        formatter: (v) => v >= 1000 ? `${(v/1000).toFixed(1)}МВт` : `${v}`,\r\n      },\r\n    },\r\n    scales: {\r\n      y: {\r\n        beginAtZero: true,\r\n        title: { display: true, text: 'кВт·год' },\r\n        grid: { color: '#f0f0f0' },\r\n      },\r\n      x: { grid: { display: false } },\r\n    },\r\n  },\r\n};\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 6. QUICKCHART.IO — ДЕННИЙ ГРАФІК\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nconst dayChartConfig = {\r\n  type: 'line',\r\n  data: {\r\n    labels: hourLabels,\r\n    datasets: [{\r\n      label: `Генерація (${MONTHS_UK[peakIdx]}, кВт·год/год)`,\r\n      data: dailyHourlyKWh,\r\n      borderColor: '#FFC400',\r\n      backgroundColor: 'rgba(255,196,0,0.15)',\r\n      borderWidth: 2.5,\r\n      pointRadius: 3,\r\n      fill: true,\r\n      tension: 0.4,\r\n    }],\r\n  },\r\n  options: {\r\n    plugins: {\r\n      legend: { display: false },\r\n      title: {\r\n        display: true,\r\n        text:    `Денна генерація (${MONTHS_UK[peakIdx]}, середній день) · СЕС ${dcKW.toFixed(0)} кВт`,\r\n        font:    { size: 14 },\r\n      },\r\n    },\r\n    scales: {\r\n      y: {\r\n        beginAtZero: true,\r\n        title: { display: true, text: 'кВт·год/год' },\r\n        grid:  { color: '#f0f0f0' },\r\n      },\r\n      x: {\r\n        grid: { display: false },\r\n        ticks: { maxTicksLimit: 12 },\r\n      },\r\n    },\r\n  },\r\n};\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 7. ФОРМУВАННЯ URL QUICKCHART\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nfunction toChartUrl(config, width = 800, height = 380) {\r\n  const json = encodeURIComponent(JSON.stringify(config));\r\n  return `https://quickchart.io/chart?w=${width}&h=${height}&bkg=white&c=${json}`;\r\n}\r\n\r\nconst yearChartUrl = toChartUrl(yearChartConfig);\r\nconst dayChartUrl  = toChartUrl(dayChartConfig);\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 8. ЕКОНОМІКА (беремо з ses_calculate, доповнюємо точною генерацією)\r\n// ────────────────────────────────────────────────────────────────\r\n\r\n// Точна річна економія на основі регіональних даних\r\nconst selfConsumptionRatio = 0.80;\r\nconst yearlyEconomyUAH     = tariffNow > 0\r\n  ? Math.round(yearlyKWh * selfConsumptionRatio * tariffNow)\r\n  : Math.round(calc.monthly_savings_uah * 12) || 0;\r\n\r\n// ────────────────────────────────────────────────────────────────\r\n// 9. ВИХІД\r\n// ────────────────────────────────────────────────────────────────\r\n\r\nreturn [{\r\n  json: {\r\n    // Передаємо все з попереднього вузла\r\n    ...calc,\r\n\r\n    // Графіки\r\n    year_chart_url: yearChartUrl,\r\n    day_chart_url:  dayChartUrl,\r\n\r\n    // Генерація\r\n    monthly_kwh:    monthlyKWh,\r\n    yearly_kwh:     yearlyKWh,\r\n    yearly_mwh:     yearlyMWh,\r\n    peak_month:     MONTHS_UK[peakIdx],\r\n\r\n    // Економіка (уточнена з регіональними даними)\r\n    yearly_kwh:     yearlyKWh,\r\n    yearly_mwh:     yearlyMWh,\r\n    yearly_economy: yearlyEconomyUAH,\r\n    peak_month:     MONTHS_UK[peakIdx],\r\n\r\n    // Перерахунок окупності з регіональними даними\r\n    // (точніше ніж fallback 1100 год/рік у ses_calculate)\r\n    ...(() => {\r\n      const totalUAH = (parseFloat(calc.total_usd) || 0) * (parseFloat(calc.rate_usd) || 41.2);\r\n      let paybackStr = '—';\r\n      if (yearlyEconomyUAH > 0 && totalUAH > 0) {\r\n        const py    = totalUAH / yearlyEconomyUAH;\r\n        const pyInt = Math.floor(py);\r\n        const pyMon = Math.round((py - pyInt) * 12);\r\n        paybackStr  = pyMon > 0 ? `${pyInt} р. ${pyMon} міс.` : `${pyInt} р.`;\r\n      }\r\n      return {\r\n        payback_str_regional: paybackStr,\r\n        template_vars: {\r\n          ...calc.template_vars,\r\n          '{{yearly_gen}}':   `${yearlyMWh} МВт·год`,\r\n          '{{payback}}':      paybackStr,\r\n          '{{tariff_now}}':   tariffNow ? `${tariffNow.toFixed(2)} грн/кВт·год` : calc.template_vars?.['{{tariff_now}}'] || '',\r\n          '{{total_profit}}': `${Math.round(yearlyEconomyUAH / 1000)} тис. грн/рік`,\r\n        },\r\n      };\r\n    })(),\r\n  }\r\n}];\r\n"
      },
      "id": "n05",
      "name": "Code: Charts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond1",
              "leftValue": "={{ $json.has_custom_image }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "name": "filter.operator.true"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "n06",
      "name": "IF: Є зображення",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1200,
        300
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "/* ================================================================\r\n   n8n Code Node — Завантаження кастомного зображення в Google Drive\r\n\r\n   Запускається після \"Code: Charts\" лише якщо є custom_image_base64.\r\n   В n8n: використовуй IF вузол перед цим кодом:\r\n     IF {{ $json.has_custom_image }} === true → цей вузол\r\n     ELSE → одразу до \"Drive: Copy Template\"\r\n\r\n   ВХІД:  $('Code: Charts').first().json\r\n   ВИХІД: всі поля + custom_image_drive_id, custom_image_drive_url\r\n\r\n   Після цього вузла — вузол \"Drive: Upload Image\" або\r\n   використовуємо HTTP Request до Drive API напряму.\r\n================================================================ */\r\n\r\nconst data = $('Code: Charts').first().json;\r\n\r\n// Якщо немає зображення — просто пропускаємо (не повинно сюди потрапити через IF)\r\nif (!data.has_custom_image || !data.custom_image_base64) {\r\n  return [{ json: { ...data, custom_image_drive_id: null, custom_image_drive_url: null } }];\r\n}\r\n\r\n// Декодуємо base64 → бінарний буфер\r\nconst base64 = data.custom_image_base64;\r\nconst mime   = data.custom_image_mime || 'image/jpeg';\r\nconst ext    = mime.split('/')[1] || 'jpg';\r\nconst fileName = `viz_${data.project_name || 'ses'}_${Date.now()}.${ext}`;\r\n\r\n// Конвертуємо base64 у Buffer для n8n бінарного виводу\r\nconst buffer = Buffer.from(base64, 'base64');\r\n\r\n// Повертаємо як бінарні дані — наступний вузол \"Drive: Upload\" їх завантажить\r\nreturn [{\r\n  json: {\r\n    ...data,\r\n    image_file_name: fileName,\r\n    image_mime:      mime,\r\n  },\r\n  binary: {\r\n    customImage: {\r\n      data:     base64,\r\n      mimeType: mime,\r\n      fileName: fileName,\r\n    }\r\n  }\r\n}];\r\n\r\n/* ================================================================\r\n   ПІСЛЯ ЦЬОГО ВУЗЛА в n8n:\r\n\r\n   [Drive: Upload Image]\r\n   - Operation: Upload\r\n   - Parent Folder: {{ $json.driveFolderId }}  (або окрема папка)\r\n   - File Name: {{ $json.image_file_name }}\r\n   - Binary Property: customImage\r\n   → Отримуємо: id, webViewLink, webContentLink\r\n\r\n   Потім зберігаємо Drive ID і передаємо далі для вставки в Docs.\r\n\r\n   [Code: Merge Image URL]\r\n   const prevData = $('Code: Charts').first().json;  // або передати через попередні\r\n   const driveFile = $('Drive: Upload Image').first().json;\r\n   return [{\r\n     json: {\r\n       ...prevData,\r\n       custom_image_drive_id:  driveFile.id,\r\n       // Drive URL для публічного доступу (файл має бути shared: anyone with link):\r\n       custom_image_drive_url: `https://drive.google.com/uc?export=view&id=${driveFile.id}`,\r\n     }\r\n   }];\r\n\r\n   [HTTP: Share Image Publicly]  (зробити файл публічним)\r\n   - Method: POST\r\n   - URL: https://www.googleapis.com/drive/v3/files/{{ $json.custom_image_drive_id }}/permissions\r\n   - Auth: Google OAuth2\r\n   - Body: { \"role\": \"reader\", \"type\": \"anyone\" }\r\n\r\n   Після цього — вставляємо зображення в Doc через insertInlineImage.\r\n================================================================ */\r\n"
      },
      "id": "n07",
      "name": "Code: Підготовка зображення",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1440,
        160
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $json.image_file_name }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Code: Calculate').first().json.driveFolderId }}",
          "mode": "id"
        },
        "binaryPropertyName": "customImage",
        "options": {}
      },
      "id": "n08",
      "name": "Drive: Upload Custom Image",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        1680,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://www.googleapis.com/drive/v3/files/{{ $json.id }}/permissions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDriveOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{\"role\":\"reader\",\"type\":\"anyone\"}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n09",
      "name": "HTTP: Відкрити доступ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1920,
        160
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Об'єднання гілок: з custom image або без\nconst calc = $('Code: Charts').first().json;\n\nlet customImageDriveId  = null;\nlet customImageDriveUrl = null;\n\ntry {\n  const imageItems = $('Drive: Upload Custom Image').all();\n  if (imageItems.length > 0) {\n    customImageDriveId  = imageItems[0].json.id;\n    customImageDriveUrl = `https://drive.google.com/uc?export=view&id=${customImageDriveId}`;\n  }\n} catch (e) {\n  // Вузол не виконувався (гілка без зображення) — залишаємо null\n}\n\nreturn [{\n  json: {\n    ...calc,\n    custom_image_drive_id:  customImageDriveId,\n    custom_image_drive_url: customImageDriveUrl,\n  }\n}];"
      },
      "id": "n10",
      "name": "Code: Після гілки зображення",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2160,
        300
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "copy",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.templateDocId }}",
          "mode": "id"
        },
        "name": "={{ $json.doc_copy_name }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $json.driveFolderId }}",
          "mode": "id"
        },
        "options": {}
      },
      "id": "n11",
      "name": "Drive: Копіювати шаблон",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        2400,
        300
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $('Drive: Копіювати шаблон').first().json.id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "id": "n11a",
      "name": "HTTP: Отримати Doc",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2640,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Google Docs з вкладками: контент у tabs[0].documentTab.body.content\n// Або у body.content для старих документів\nconst tab0Content = $json.tabs?.[0]?.documentTab?.body?.content || [];\nconst bodyContent = $json.body?.content || [];\nconst content = tab0Content.length > 0 ? tab0Content : bodyContent;\n\nlet startIndex = null;\nlet endIndex   = null;\n\nfor (let i = 0; i < content.length; i++) {\n  const el = content[i];\n  if (!el.paragraph || !el.paragraph.elements) continue;\n  const text = el.paragraph.elements\n    .map(e => (e.textRun?.content || '').trim().toLowerCase())\n    .join('');\n  if (text === 'вкладка 1') {\n    startIndex = el.startIndex;\n  } else if (startIndex !== null && text !== '') {\n    endIndex = el.startIndex;\n    break;\n  }\n}\n\nconst calc  = $('Code: Після гілки зображення').first().json;\nconst docId = $('Drive: Копіювати шаблон').first().json.id;\n\nconst deleteRequests = (startIndex !== null && endIndex !== null)\n  ? [{ deleteContentRange: { range: { startIndex, endIndex: endIndex - 1 } } }]\n  : [];\n\nreturn [{ json: { docId, deleteRequests, ...calc } }];"
      },
      "id": "n11b",
      "name": "Code: Видалити Вкладку 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2880,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $json.docId + ':batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { requests: $json.deleteRequests } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n11c",
      "name": "HTTP: Видалити Вкладку 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3120,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const calc  = $('Code: Після гілки зображення').first().json;\nconst docId = $('Drive: Копіювати шаблон').first().json.id;\nconst vars  = calc.template_vars;\n\nconst requests = Object.entries(vars).map(([tag, value]) => ({\n  replaceAllText: {\n    containsText: { text: tag, matchCase: true },\n    replaceText:  String(value ?? ''),\n  }\n}));\n\nreturn [{\n  json: {\n    docId,\n    requests,\n    chat_id:       calc.chat_id,\n    file_name:     calc.file_name,\n    project_name:  calc.project_name,\n    power_label:   calc.power_label,\n    total_display: calc.total_display,\n    currency_sign: calc.currency_sign,\n    driveFolderId: calc.driveFolderId,\n  }\n}];"
      },
      "id": "n12",
      "name": "Code: Підготовка Docs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3360,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://docs.googleapis.com/v1/documents/{{ $json.docId }}:batchUpdate",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { requests: $json.requests } }}",
        "options": {}
      },
      "id": "n13",
      "name": "HTTP: Docs batchUpdate",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3600,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $('Code: Підготовка Docs').first().json.docId }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "options": {}
      },
      "id": "n13a",
      "name": "HTTP: Отримати Doc після замін",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3840,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "// Після replaceAllText порожні рядки таблиці містять лише пусті рядки.\n// Видаляємо їх знизу вверх, щоб уникнути зміщення індексів.\nconst docData = $json;\nconst calc    = $('Code: Підготовка Docs').first().json;\nconst docId   = calc.docId;\n\nconst content = docData.tabs?.[0]?.documentTab?.body?.content || docData.body?.content || [];\n\nconst requests = [];\n\nfor (const el of content) {\n  if (!el.table) continue;\n\n  // Обробляємо лише таблицю специфікації — ту що містить \"ОБЛАДНАННЯ ТА МАТЕРІАЛИ\"\n  // (в документі є декілька таблиць з пустими рядками — структурні, видаляти не треба)\n  const isCostTable = el.table.tableRows.some(row => {\n    const firstCell = (row.tableCells[0]?.content || [])\n      .flatMap(p => (p.paragraph?.elements || []))\n      .map(e => e.textRun?.content || '')\n      .join('')\n      .trim();\n    return firstCell.includes('ОБЛАДНАННЯ');\n  });\n  if (!isCostTable) continue;\n\n  const tableStartIndex = el.startIndex;\n  const emptyRowIndices = [];\n\n  el.table.tableRows.forEach((row, rowIndex) => {\n    const allEmpty = row.tableCells.every(cell => {\n      const cellText = (cell.content || [])\n        .flatMap(p => (p.paragraph?.elements || []))\n        .map(e => e.textRun?.content || '')\n        .join('')\n        .trim();\n      return cellText === '';\n    });\n    if (allEmpty) emptyRowIndices.push(rowIndex);\n  });\n\n  // Видаляємо з кінця, щоб не зміщувати індекси попередніх рядків\n  for (let i = emptyRowIndices.length - 1; i >= 0; i--) {\n    requests.push({\n      deleteTableRow: {\n        tableCellLocation: {\n          tableStartLocation: { index: tableStartIndex },\n          rowIndex: emptyRowIndices[i],\n          columnIndex: 0,\n        },\n      },\n    });\n  }\n}\n\n// DEBUG — видалити після перевірки\nconst _tables = content.filter(el => el.table);\nconst _debugRows = _tables.map((el, ti) => ({\n  tableIndex: ti,\n  tableStartIndex: el.startIndex,\n  rowCount: el.table.tableRows.length,\n  rows: el.table.tableRows.map((row, ri) => ({\n    rowIndex: ri,\n    cells: row.tableCells.map(cell =>\n      (cell.content || [])\n        .flatMap(p => (p.paragraph?.elements || []))\n        .map(e => e.textRun?.content || '')\n        .join('')\n        .trim()\n    ),\n  })),\n}));\n\nreturn [{ json: { docId, ...calc, requests, _debug_empty_rows: { tables_count: _tables.length, requests_count: requests.length, tables: _debugRows } } }];"
      },
      "id": "n13b",
      "name": "Code: Знайти порожні рядки",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4080,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://docs.googleapis.com/v1/documents/' + $json.docId + ':batchUpdate' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleDocsOAuth2Api",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { requests: $json.requests } }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "n13c",
      "name": "HTTP: Видалити порожні рядки",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4320,
        300
      ],
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ 'https://docs.google.com/document/d/' + $('Code: Підготовка Docs').first().json.docId + '/export?format=pdf&tab=t.0' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file",
              "outputPropertyName": "data"
            }
          }
        }
      },
      "id": "n14",
      "name": "HTTP: Експорт PDF",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4560,
        300
      ],
      "credentials": {
        "googleOAuth2Api": {
          "id": "CRED3",
          "name": "Google OAuth2 account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "upload",
        "name": "={{ $('Code: Підготовка Docs').first().json.file_name }}",
        "driveId": {
          "__rl": true,
          "value": "MyDrive",
          "mode": "list"
        },
        "folderId": {
          "__rl": true,
          "value": "={{ $('Code: Підготовка Docs').first().json.driveFolderId }}",
          "mode": "id"
        },
        "binaryPropertyName": "data",
        "options": {}
      },
      "id": "n15",
      "name": "Drive: Зберегти PDF",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        4800,
        460
      ],
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "CRED2",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendDocument",
        "chatId": "={{ $('Code: Calculate').first().json.chat_id }}",
        "binaryData": true,
        "binaryPropertyName": "data",
        "additionalFields": {
          "caption": "=КП для {{ $('Code: Calculate').first().json.project_name }} ({{ $('Code: Calculate').first().json.power_label }}) — готово! ✅"
        }
      },
      "id": "n16",
      "name": "Telegram: Надіслати PDF",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        4800,
        300
      ],
      "credentials": {
        "telegramApi": {
          "id": "CRED4",
          "name": "Telegram account"
        }
      }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Settings",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Calculate": {
      "main": [
        [
          {
            "node": "Code: Charts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Charts": {
      "main": [
        [
          {
            "node": "IF: Є зображення",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF: Є зображення": {
      "main": [
        [
          {
            "node": "Code: Підготовка зображення",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code: Після гілки зображення",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Підготовка зображення": {
      "main": [
        [
          {
            "node": "Drive: Upload Custom Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Upload Custom Image": {
      "main": [
        [
          {
            "node": "HTTP: Відкрити доступ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Відкрити доступ": {
      "main": [
        [
          {
            "node": "Code: Після гілки зображення",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Після гілки зображення": {
      "main": [
        [
          {
            "node": "Drive: Копіювати шаблон",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Drive: Копіювати шаблон": {
      "main": [
        [
          {
            "node": "HTTP: Отримати Doc",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Отримати Doc": {
      "main": [
        [
          {
            "node": "Code: Видалити Вкладку 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Видалити Вкладку 1": {
      "main": [
        [
          {
            "node": "HTTP: Видалити Вкладку 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Видалити Вкладку 1": {
      "main": [
        [
          {
            "node": "Code: Підготовка Docs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Підготовка Docs": {
      "main": [
        [
          {
            "node": "HTTP: Docs batchUpdate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Docs batchUpdate": {
      "main": [
        [
          {
            "node": "HTTP: Отримати Doc після замін",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Отримати Doc після замін": {
      "main": [
        [
          {
            "node": "Code: Знайти порожні рядки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code: Знайти порожні рядки": {
      "main": [
        [
          {
            "node": "HTTP: Видалити порожні рядки",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Видалити порожні рядки": {
      "main": [
        [
          {
            "node": "HTTP: Експорт PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP: Експорт PDF": {
      "main": [
        [
          {
            "node": "Telegram: Надіслати PDF",
            "type": "main",
            "index": 0
          },
          {
            "node": "Drive: Зберегти PDF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Settings": {
      "main": [
        [
          {
            "node": "Code: Calculate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ses-kp-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "id": "ses-kp-workflow-001",
  "pinData": {}
}